.profile_box
{
    border-radius : 1rem;
    padding: 0.5rem;
    margin: 1%;
    width: 98%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.95);
}
.requests_details
{
    width: 95%;
    text-align: left;
}